@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #232323;
}
 
#block1 {
    background: url(../img/header.jpg) center no-repeat;
    padding: 260px 0 85px;
    text-align: center;
    color: white;
}
.block1 {
    width: 1110px;
    margin: 0 auto;
}
.block1Content {
    width: 650px;
    margin: 0 auto;
}
.mainText {
    font-weight: 500;
    font-size: 64px;
    margin: 17px 0;
    text-transform: uppercase;
}
.bixText {
    font-size: 28px;
    letter-spacing: 5px;
}
.marginBot-50 {
    margin-bottom: 50px;
}
.search {
    width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
.block1Input {
    padding-left: 100px;
    width: 370px;
    border: none;
    font-size: 19px;
    
}

.block1Input:focus {
    outline: none;
}
.block1Button {
    border: 1px solid white;
    color: white;
    width: 175px;
    padding: 22px 0;
    background-color: #5474fd;
    font-size: 19px;
    background-image: url(../img/block1.png);
background-position: right;
background-repeat: no-repeat;
cursor: pointer;

}
.block1Button:hover {
    border: 1px solid #5474fd;
    color: white;
    background-color: #3e59cb;
}
.block1Button:focus {
    outline: none;
}
form {
    padding-bottom: 120px;
}
.allText {
    color: white;
    font-size: 19px;
}
.scrollDown {
    text-align: center;
    text-decoration: none;

}
#block2 {
    position: sticky;
    top: 0;
    background-color: #5474fd;
    padding: 30px 0;
    color: white;
}
.block2 {
    width: 1110px;
    margin: 0 auto;
}
.block2Flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menuWrap1 {
    width: 30%;
}
.menuWrap2 {
    width: 50%;
}
.block2Main {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
}
.menuWrap2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.myMeny {
    font-family: 'Aleo', serif;
    font-size: 19px;
    padding-top: 10px;
}
#block3 {
    background: url(../img/section2.jpg) center no-repeat;
  padding: 110px 0;
    
    color: white;
}
.block3 {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block3Flex1 {
    width: 50%;
}
.block3Flex2 {
    width: 45%;
}
.textTittle {
    font-family: 'Aleo', serif;
    font-size: 48px;
    margin: 0;
}
.block3Paddind {
    padding: 80px 0 70px;
}
.topMainText {
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 40px;
    margin: 0;
}
.topMainText3 {
    color: white;
    font-size: 26px;
    line-height: 22px;
    padding: 0 0 40px;
    margin: 0;
}


.block3Img1 {
    float:left;
}
.block3Img2 {
    float:right;
}
.aButtom {
    font-family: 'Aleo', serif;
    font-size: 22px;
    background: url(../img/button-imade.png) center no-repeat;
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    -moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
}
.aButtom:hover {
    color: rgb(43, 3, 82);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
 
#block4 {
    background: url(../img/block3-image.png) center no-repeat #333333;
    padding: 80px 0;
      text-align: center;
      color: white;
}
.block4 {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.iconFlex {
    padding-top: 50px;
    width: 33%;
}
.textTittle2 {
    font-family: 'Aleo', serif;
    font-size: 44px;
    margin: 0;
}
.iconFlex > svg {
    fill: #5474fd;
}
.iconFlex > svg:hover {
    fill: #ff6363;
}
#block5 {
    background: url(../img/section3.jpg) center no-repeat;
    padding: 180px 0 100px;
      
      color: white;
}
.block5 {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block5Info {
    width: 40%;
    background-color: rgba(000, 000, 000, 0.7);
    padding: 50px 30px;

}
#block6 {
    background: url(../img/section4.jpg) center no-repeat;
    padding: 180px 0 100px;
      
      color: white;
}
.block6 {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block6Flex {
    width: 46%;
}
.block6Info {
    width: 100%;
    background-color: rgba(000, 000, 000, 0.7);
    padding: 50px 30px;

}
#block7 {
    background: url(../img/section5.jpg) center no-repeat;
    padding: 120px 0 100px;
      
      color: white;
}
.block7 {
    width: 1110px;
    margin: 0 auto;
}
.block7 > .textTittle {
    text-align: center;
}
.block7Flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #666666;
}
.block7Img {
    width: 40%;
}
.block7Text {
    padding: 50px 50px 0 0;
    width: 50%;
}
.block7Img > img {
    width: 100%;
    height: 100%;
}
.topMainText > svg {
    padding-bottom: 10px;
}
#block8 {
    padding: 120px 0 50px;
      background-color: #232323;
      color: white;
      text-align: center;
} 
.block8 {
    width: 1110px;
    margin: 0 auto;
}
.upper {
    text-transform: uppercase;
}
.footerIcon {
    width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
a > svg {
    height: 20px;
    width: 20px;
    fill: white;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;  
}
a > svg:hover {
    fill: #5474fd;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.topMainText4 {
    color: white;
    font-size: 26px;
    line-height: 22px;
    padding: 0 0 10px;
    margin: 0;
}
.topMainText2 {
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 15px;
    margin: 0;
}
.menuWrap2 > a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all  0.5s ease-out;
    -webkit-transition: all  0.5s ease-out;  
}
.menuWrap2 > a:hover {
    color: rgb(212, 228, 135);
    border-bottom: 1px solid rgb(212, 228, 135);
   
}
.menuWrap1 > a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all  0.5s ease-out;
    -webkit-transition: all  0.5s ease-out;  
}
.menuWrap1 > a:hover {
    color: rgb(212, 228, 135);
    border-bottom: 1px solid rgb(212, 228, 135);
   
}